.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
body {
  background-color: #ecf3f6;
}

.card-body {
white-space: pre;
}

.font-s{
  font-size: 0.9rem;
}
